.tooltip {
    position: relative;
}

.tooltip:not([data-tip=""])::before {
    padding-inline: 0.25rem;
    position: absolute;
    min-width: max-content;
    content: attr(data-tip);
    background-color: black;
    border: 1px solid var(--color-neutral-600);
    border-radius: 0.25rem;
    color: var(--color-neutral-200);
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: opacity 150ms linear, transform 150ms linear;
}

.tooltip.tooltip-top:not([data-tip=""])::before {
    bottom: calc(100% + 0.25rem);
    inset-inline-start: 50%;
    transform: translateX(-50%) translateY(0.5rem);
}

.tooltip.tooltip-bottom:not([data-tip=""])::before {
    top: calc(100% + 0.25rem);
    inset-inline-start: 50%;
    transform: translateX(-50%) translateY(-0.5rem);
}

.tooltip.tooltip-left:not([data-tip=""])::before {
    right: calc(100% + 0.25rem);
    inset-block-start: 50%;
    transform: translateX(0.5rem) translateY(-50%);
}

.tooltip.tooltip-right:not([data-tip=""])::before {
    left: calc(100% + 0.25rem);
    inset-block-start: 50%;
    transform: translateX(-0.5rem) translateY(-50%);
}

.tooltip:not([data-tip=""]):has(*:focus-visible)::before, .tooltip:not([data-tip=""]):has(*:hover)::before {
    opacity: 1;
}

.tooltip.tooltip-top:not([data-tip=""]):has(*:focus-visible)::before, 
.tooltip.tooltip-top:not([data-tip=""]):has(*:hover)::before,
.tooltip.tooltip-bottom:not([data-tip=""]):has(*:focus-visible)::before,
.tooltip.tooltip-bottom:not([data-tip=""]):has(*:hover)::before {
    transform: translateX(-50%) translateY(0);
}

.tooltip.tooltip-left:not([data-tip=""]):has(*:focus-visible)::before, 
.tooltip.tooltip-left:not([data-tip=""]):has(*:hover)::before,
.tooltip.tooltip-right:not([data-tip=""]):has(*:focus-visible)::before, 
.tooltip.tooltip-right:not([data-tip=""]):has(*:hover)::before {
    transform: translateX(0) translateY(-50%);
}
