<div class="w-full space-y-6">
    <div class="overflow-y-auto max-h-145">
        <div class="space-y-4">
            <p class="key-value-pair">
                <span class="font-bold">Código de barra:</span> <!-- key -->
                <span id="value-barcode">{{ item['barcode'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Nombre:</span> <!-- key -->
                <span id="value-barcode">{{ item['name'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Unidad de medición:</span> <!-- key -->
                <span id="value-barcode">{{ item['uom'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Unidad de medición (compra):</span> <!-- key -->
                <span id="value-barcode">{{ item['purchase_uom'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Peso:</span> <!-- key -->
                <span id="value-barcode">{{ item['weight'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">¿Puede ser vendido?:</span> <!-- key -->
                <span id="value-barcode">{{ item['sellable'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">¿Puede ser comprado?:</span> <!-- key -->
                <span id="value-barcode">{{ item['buyable'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Tipo de producto:</span> <!-- key -->
                <span id="value-barcode">{{ item['product_type'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Impuesto de proveedor:</span> <!-- key -->
                <span id="value-barcode">{{ item['provider_tax'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Impuesto de cliente:</span> <!-- key -->
                <span id="value-barcode">{{ item['customer_tax'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Etiquetas:</span> <!-- key -->
                <span id="value-barcode">{{ item['tags'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Precio de venta:</span> <!-- key -->
                <span id="value-barcode">{{ item['rp'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Coste:</span> <!-- key -->
                <span id="value-barcode">{{ item['cost'] }}</span> <!-- value -->
            </p>
            <div class="key-value-pair h-fit">
                <p class="font-bold">Observaciones:</p> <!-- key -->
                <p id="value-barcode">{{ item['observations'] }}</p> <!-- value -->
            </div>
            <p class="key-value-pair">
                <span class="font-bold">No. de empeño:</span> <!-- key -->
                <span id="value-barcode">{{ item['pawn_no'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Peso de piedras:</span> <!-- key -->
                <span id="value-barcode">{{ item['stone_weight'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Marca:</span> <!-- key -->
                <span id="value-barcode">{{ item['brand'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Modelo:</span> <!-- key -->
                <span id="value-barcode">{{ item['model'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Serie:</span> <!-- key -->
                <span id="value-barcode">{{ item['series'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Sucursal:</span> <!-- key -->
                <span id="value-barcode">{{ item['branch'] }}</span> <!-- value -->
            </p>
            <p class="key-value-pair">
                <span class="font-bold">Categoría:</span> <!-- key -->
                <span id="value-barcode">{{ item['category'] }}</span> <!-- value -->
            </p>
        </div>
    </div>
    <div class="flex w-full justify-center">
        <button onclick="check(this)" value="{{ item['barcode'] }}" class="flex px-4 py-1 gap-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg duration-150 cursor-pointer">
            Agregar a la lista
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>
</div>