<app-header></app-header>
<main class="p-4 w-full max-w-7xl mx-auto space-y-8">
    <h1 class="text-2xl font-semibold">Mis Transferencias</h1>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-6">
        @if (jobs() && jobs().length) {
            @for (job of jobs(); track job.job_id) {
                <app-transfer-job-card [job]="job"></app-transfer-job-card>
            }
        } @else {
            <p class="col-span-2 w-full text-center opacity-60">No se encontró el historial de transferencias.</p>
        }
    </section>
</main>