RDS_DRIVER=''
RDS_HOST=''
RDS_PORT=0
RDS_USER=''
RDS_PASSWORD=''
RDS_NAME=''

PG_DRIVER=''
PG_HOST=''
PG_PORT=0
PG_USER=''
PG_PASSWORD=''
PG_NAME=''

ODOO_USER=''
ODOO_PASSWORD=''
ODOO_URL=''
ODOO_DB=''

BATCH_LIMIT=0
MAX_RETRIES=0
