<app-dialog></app-dialog>
<app-header></app-header>
<main class="p-4 w-full max-w-7xl mx-auto space-y-6">
    <h1 class="text-2xl font-semibold">Inventario: Sucursal</h1>
    <div class="space-y-4">
        <div class="flex w-full justify-between">
            <div
                class="flex items-center gap-3 border border-neutral-300 rounded-lg px-2 py-1 text-lg w-full max-w-md outline-2 outline-transparent has-focus:outline-pink-500 duration-150">
                <i class="bi bi-search text-base opacity-60"></i>
                <input type="text" [value]="query()" (input)="setQuery($event)" class="flex-1 focus:outline-none"
                    placeholder="Buscar por código de barra...">
                @if (query()) {
                    <button (click)="clearQuery()" type="button" aria-label="Borrar barra de búsqueda">
                        <i class="bi bi-x-lg"></i>
                    </button>
                }
            </div>
            <div class="flex gap-4">
                <app-tooltip tip="Refrescar" position="top">
                    <button type="button" aria-label="Refrescar tabla" [disabled]="reloading()" (click)="reload()"
                        [class]="`flex justify-center items-center rounded-full aspect-square p-2 border border-neutral-300 disabled:bg-neutral-200 disabled:text-neutral-600 cursor-pointer ${reloading() ? 'spin' : ''}`">
                        <i class="bi bi-arrow-clockwise px-1"></i>
                    </button>
                </app-tooltip>
                <button (click)="dialog().show()"
                    class="px-4 rounded-lg text-white bg-indigo-600 hover:bg-indigo-700 disabled:bg-neutral-200 disabled:text-neutral-600 duration-150 cursor-pointer">
                    Transferir
                </button>
            </div>
        </div>
    </div>
    <form class="contents">
        <div class="overflow-x-auto">
            <table class="w-full rounded-lg border border-neutral-300 border-separate border-spacing-0">
                <thead>
                    <tr>
                        <th class="border-b border-neutral-300 text-left p-2 font-bold">
                            <p class="select-none">&nbsp;</p>
                        </th>
                        <th class="border-b border-neutral-300 text-left p-2 font-bold">
                            Código de barra
                        </th>
                        <th class="border-b border-neutral-300 text-left p-2 font-bold">
                            Entrada
                        </th>
                        <th class="border-b border-neutral-300 text-left p-2 font-bold">
                            Descripción
                        </th>
                        <th class="border-b border-neutral-300 text-left p-2 font-bold">
                            Kilataje
                        </th>
                        <th class="border-b border-neutral-300 text-left p-2 font-bold">
                            Costo
                        </th>
                        <th class="border-b border-neutral-300 text-left p-2 font-bold">
                            Precio
                        </th>
                        <th class="border-b border-neutral-300 text-left p-2 font-bold">
                            Peso
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="group">
                        @if (!query()) {
                            <td colspan="9999" class="group-not-last:border-b border-neutral-300 p-2">
                                <p class="w-full text-center opacity-60">
                                    Utilice la barra de búsqueda para buscar resultados.
                                </p>
                            </td>
                        } 
                        @else if (response.isLoading()) {
                            <td colspan="9999" class="group-not-last:border-b border-neutral-300 p-2">
                                <div class="w-full flex justify-center">
                                    <app-spinner></app-spinner>
                                </div>
                            </td>
                        } @else if (response.hasValue()) {
                            @if (item(); as item) {
                                <td class="group-not-last:border-b border-neutral-300 p-2">
                                    <label for="selectAll" class="group contents">
                                        <div role="checkbox"
                                            class="size-5 border border-neutral-300 rounded flex justify-center items-center cursor-pointer">
                                            <i
                                                class="bi bi-check-lg text-indigo-500 scale-0 group-has-checked:scale-100 duration-150"></i>
                                        </div>
                                        <input type="checkbox" name="rowIds" class="hidden">
                                    </label>
                                </td>
                                <td class="group-not-last:border-b border-neutral-300 p-2">
                                    {{ item.barcode }}
                                </td>
                                <td class="group-not-last:border-b border-neutral-300 p-2">
                                    <!-- {{ item.entry }} -->
                                </td>
                                <td class="group-not-last:border-b border-neutral-300 p-2">
                                    <!-- {{ item.description }} -->
                                </td>
                                <td class="group-not-last:border-b border-neutral-300 p-2">
                                    <!-- {{ item.carat_rating }} -->
                                </td>
                                <td class="group-not-last:border-b border-neutral-300 p-2">
                                    <span class="text-sm opacity-80 font-semibold">$</span>{{ item.cost.toFixed(2) }}
                                </td>
                                <td class="group-not-last:border-b border-neutral-300 p-2">
                                    <span class="text-sm opacity-80 font-semibold">$</span>{{ item.retail_price.toFixed(2) }}
                                </td>
                                <td class="group-not-last:border-b border-neutral-300 p-2">
                                    {{ item.weight }}<span class="text-sm opacity-80 font-semibold">g</span>
                                </td>
                            }
                        } @else if (response.error()) {
                            <td colspan="9999" class="group-not-last:border-b border-neutral-300 p-2">
                                <p class="w-full text-center opacity-60">
                                    Hubo un error al buscar este producto.
                                </p>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</main>