@if (open()) {
    <div role="button" class="fixed inset-0 z-50 flex justify-center items-center backdrop-brightness-50 backdrop-blur-xs"
        (click)="closeNonModal()">
        <div class="relative p-4 rounded-lg bg-white min-w-lg w-full max-w-2xl" (click)="$event.stopPropagation()">
            @if (!modal()) {
                <button class="absolute top-4 right-4" aria-label="Cerrar diálogo" (click)="close()">
                    <i class="bi bi-x-lg text-neutral-400"></i>
                </button>
            }
            <ng-content />
        </div>
    </div>
}