@if (open()) {
<div role="button" (click)="hide()" class="fixed inset-0 z-50 backdrop-brightness-50 backdrop-blur-xs">
    <div (click)="$event.stopPropagation()" [class]="`dialog w-full h-full flex justify-center items-center ${displayed() ? 'open' : ''}`">
        <div role="dialog"
            class="relative p-4 rounded-lg bg-white shadow-sm shadow-neutral-500 min-w-lg max-w-2xl max-h-200">
            <button type="button" (click)="hide()" aria-label="Cerrar diálogo"
                class="text-neutral-400 absolute top-2 right-2">
                <i class="bi bi-x-lg"></i>
            </button>
            <ng-content />
        </div>
    </div>
</div>
}