@if (open()) {
    <div role="button" class="fixed inset-0 z-50 backdrop-brightness-50 backdrop-blur-xs" (click)="closeNonModal()">
        <div class="w-full h-full flex justify-center items-center">
            <div class="relative p-4 rounded-lg bg-white min-w-lg w-full max-w-2xl" (click)="$event.stopPropagation()">
                @if (!modal()) {
                    <button class="absolute top-4 right-4" aria-label="Cerrar diálogo" (click)="close()">
                        <i class="bi bi-x-lg text-neutral-400"></i>
                    </button>
                }
                <ng-content />
            </div>
        </div>
    </div>
}