@import 'tailwindcss';
@source '../../view';


i.bi {
    display: flex;
    justify-content: center;
    align-items: center;
}


@utility interpolate-keywords {
    interpolate-size: allow-keywords;
}


.spin {
    animation: spin 500ms ease-out forwards infinite;
}

@keyframes spin {
    from { rotate: 0deg; }
    to { rotate: 360deg; }
}