@import 'tailwindcss';
@source '../../view';


i.bi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clip-trapezoid {
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
}

.spin {
    animation: spin 500ms ease-out forwards infinite;
}

@keyframes spin {
    from { rotate: 0deg; }
    to { rotate: 360deg; }
}